$primary-color: #79a2d6; //babyblue
$secondary-color: #494f54; //grey
$text-primary: #fff; //white
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Lato', sans-serif;

body {
  background-color: $secondary-color;
  text-align: center;
  color: $text-primary;
  font-size: 2rem;
  font-family: $font-secondary;
}

h1 {
  font-family: $font-primary;
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  font-family: $font-primary;
  font-size: 2.25rem;
  text-transform: uppercase;
}

h4 {
  font-family: $font-primary;
  font-size: 1rem;
  letter-spacing: .1rem;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0rem;
}

/*Profile Section */
.text-center img {
  width: 18rem;
  border-radius: 50%;
  text-align: center;
  margin: .5rem;
  margin-bottom: 3rem;
}

.bg-profile {
  padding-top: calc(4rem + 14px);
  padding-bottom: 4rem;
  background-color: $primary-color!important;
  color: $text-primary;
}
/*About Section*/
.section-about {
  background-color: $text-primary;
  color: $primary-color;
}

.section-about p {
  padding: 1rem;
}

/*Navigation */
.navbar-expand-lg .nav-link {
  font-size: 1.3rem;
  text-decoration: uppercase;
}

.navlink a {
  color: $text-primary;
}

.navbar-nav {
  padding-right: 1.5rem;
}

#navbarSupportedContent {
  justify-content: flex-end;
}

.navbar-toggler {
  background-color: $primary-color;
  width: 4rem;
}

/*Custom Icon Divider - set a div box, create custom line */
.divider {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  align-items:center;
  display:flex;
  justify-content:center;
}

.custom-line {
  width:100%;
  max-width:7rem;
  height:.25rem;
  background-color:$text-primary;
  border-radius:1rem;
  border-color:#2c3e50!important; //todo
}

.divider .custom-line:first-child {
  margin-right: 1rem;
}

.divider .custom-line:last-child {
  margin-left: 1rem;
}

.section-about .custom-line {
  background-color: $primary-color;
}

/*Page Divider*/
.page-section-primary {
  background-color: $text-primary;
  padding: 3rem;
}

.page-section-secondary {
  background-color: $secondary-color;
  padding: 3rem;
}

/* Footer */
footer {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

/*Phone Media Queries*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {
  .section-about p {
    text-align: left;
    font-size: 1.4rem;
  };

}
